asgiref==3.9.1
dj-database-url==3.0.1
Django==5.2.5
django-cors-headers==4.7.0
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
python-dotenv==1.1.1
drf-yasg==1.21.10
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.8.1
gunicorn==23.0.0
psycopg2-binary==2.9.10
django-allauth
dj-rest-auth
cryptography
google-auth==2.31.0
requests>=2.32.0

